@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande','Lucida Sans', Arial, sans-serif;
  background-color: #2d2c2c;
}
